body{
    background-color: aliceblue;
    margin: 0;
}
header{
    display: flex;
}
h1.logo{
    flex:1;
    margin-left: 50px;
}
ul.nav{
    display: flex;
    margin-right: 50px;
    align-items: center;
}
li.nav-item{
    margin: 10px;
    list-style: none;
}
li.nav-item.project{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
section.intro{
    display: flex;
    margin-left: 100px;
    height: calc(100vh - 90px   ) ;
    align-items: center;
}
img{
    height: 500px;
    border-radius: 20px;
}
h1.title{
    font-size: 42px;
}
div.sect-right{
    margin-left: 100px;
}
section.about{
    margin-left: 100px;
    display: flex;
    height: 70vh;
    gap: 50px;
    
}
div.about-left{
    flex: 2;
   
}
ul.about-right{
    flex: 1;
}

section.projects{
    margin-left: 100px;
    margin-right: 100px;
    height: 70vh;

}
.projects h2{
text-align: center;
}
div.projects-items{
    display: flex;
    column-gap: 20px;

}
.project{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}
h2{
    font-size: 32px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}
footer p{
    margin: 0;
}
.contacts{
    margin-left: 100px;
    margin-right: 100px;
    height: 70vh;
}
.contacts h2{
    text-align: center;
}
.contacts-wrapper{
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
}