html{
    scroll-behavior: smooth;
}
body{
    background-color: aliceblue;
    margin: 0;
}
header{
    display: flex;
    position: fixed;
    background-color: aliceblue;
    left: 0;
    right: 0;
}
h1.logo{
    flex:1;
    margin-left: 50px;
}
ul.nav{
    display: flex;
    margin-right: 50px;
    align-items: center;
}
li.nav-item{
    margin: 10px;
    list-style: none;
    white-space: nowrap;
}
.nav-item a{
    color: black;
    text-decoration: none;
}
.nav-item.project a{
    color: white;
}
li.nav-item.project{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
section.intro{
    display: flex;
    margin-left: 100px;
    min-height: calc(100vh - 90px   ) ;
    align-items: center;
    padding-top: 90px;
}
img{
    height: 500px;
    border-radius: 20px;
}
.intro .social{
    display: flex;
    list-style: none;
}
.social li{
    margin: 10px;

}
.social a{
    font-size: 36px;
}
h1.title{
    font-size: 42px;
}
div.sect-right{
    margin-left: 100px;
}
section.about{
    padding-top: 100px;
    margin-left: 100px;
    display: flex;
    min-height: 70vh;
    gap: 50px;
    
}
div.about-left{
    flex: 2;
}
ul.about-right{
    flex: 1;
}

section.projects{
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 70vh;

}
.projects h2{
text-align: center;
}
div.projects-items{
    display: flex;
    gap: 20px;

}
.project{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}
h2{
    font-size: 32px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}
footer p{
    margin: 0;
}
.contacts{
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 70vh;
}
.contacts h2{
    text-align: center;
}
.contacts a{
    color: black;
    
}
.contacts-wrapper{
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
}

@media (max-width: 720px){
    header{
        flex-direction: column;
    }
    header .nav{
        margin: 0 10px;
        padding: 0;
    }
    header h1.logo{
        margin: 10px;
    }
    img {
        height: 200px;
    }
    section.intro{
        padding-top: 130px;
    }
    section.intro, section.about{
        flex-direction: column;
        margin-left: 10px;
    }
    div.about-left{
        flex: unset;
    }
    section.projects, section.contacts{
        
        margin-left: 10px;
        margin-right: 10px;
    }
    .projects-items, .contacts-wrapper{
        flex-direction: column;
    }
    div.sect-right{
        margin-left: 10px;
    }

}